<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%16.16date{MM/dd HH:mm:ss.S}] [%logger{20}] %msg%n</pattern>
            <!--pattern>[%16.16date{MM/dd HH:mm:ss.S}] [%50.50class] %msg%n</pattern-->
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>